.footer {
  display: grid;
  grid-template-columns: 25% 50% 5% 20%;
  grid-row: 100%;
  width: 100%;
  height: 80px;
  background-color: #677c89;
}

.footer-logo-wrapper {
  width: 100%;
  margin-top: 10px;
}
.footer-logo {
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.date-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.date {
  font-family: inter;
  font-size: 16px;
}

@media (max-width: 840px) {
  .footer {
    height: 230px;
    grid-template-columns: 100%;
  }
  .date {
    font-size: 14px;
  }
  .footer-logo-wrapper {
    margin-bottom: 5px;
  }

  .share-wrapper {
    margin-bottom: 40px;
  }
}
@media (max-width: 340px) {
  .footer {
    height: 250px;
  }
}

.share-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  flex-direction: column;
}

.wpbtn {
  display: flex;
  align-items: center;
  gap: 20px;
  background: transparent;
  border: none;
}

.wp,
.tg {
  cursor: pointer;
  width: 25px;
  background: transparent;
  border: none;
  margin: 0;
}

.wp {
  margin-right: 15px;
}

.share-buttons {
  display: flex;
}

.share-text {
  font-family: inter;
  margin-bottom: 5px;
  font-weight: 700;
}
